/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 1rem;
    text-align: center;
  } */



.title-color{
    color: tomato;
}

.list{
    list-style: none;
}
.img{
    width: 300px;
}

.btn{
    background-color: goldenrod ;
    padding: 10px 20px;
}

.container{
    width: 80px;
    height: 80px;
    background-color: blue;
    
}